body{
margin:0 auto;
background-image: url("image.jfif");
background-repeat:no-repeat;
background-size:100% 720px;
}
.container{
width:800px;
height:450px;
text-align:center;
margin:0 auto;
background-color:rgba(44,62,80,0.7);
border-radius:05px;
margin:0 auto;
margin-top:160px;
}
.container img{
width:200px;
height:50x;
margin:10px;
}
